In [1]:
import pandas as pd
gzmt = pd.read_csv(R'data\600519.csv')

In [ ]:
gzmt.info()

In [ ]:
gzmt.describe()

In [ ]:
gzmt[['open','close']].describe()

In [7]:
result = gzmt['open'].unique()

In [9]:
result2 = gzmt.close.value_counts()

In [12]:
df = pd.DataFrame({
    "name": ["A", "B", "C", "B", "C", "A", "C"],
    "value": [1, 3, 7, 2, 4, 3, 1]
})
df.groupby("name")["value"].sum()

name
A     4
B     5
C    12
Name: value, dtype: int64

In [16]:
data = {'姓名': ['张三', '李四', '王五', '赵六', '孙七'],
        '年龄': [18, 19, 20, 18, 19],
        '班级': ['一班', '一班', '二班', '二班', '一班'],
        '成绩': [90, 85, 78, 92, 88]}

df = pd.DataFrame(data)

def average_score(group):
    print(group)
    # return group['成绩'].mean()

result = df.groupby('班级')['成绩'].apply(average_score)
print(result)

0    90
1    85
4    88
Name: 一班, dtype: int64
2    78
3    92
Name: 二班, dtype: int64
班级
一班    None
二班    None
Name: 成绩, dtype: object

In [15]:
result = df.groupby('班级')['成绩'].min()